<nav>
	<div class="flex justify-content-between align-items-center">
		<div id="main-menu" *ngIf="isSignedIn">
			<button type="button" pButton class="p-button-rounded p-button-text p-button-help" icon="pi pi-bars"
				(click)="displayMainMenu = true"></button>
			<p-sidebar #mainMenuSidebar styleClass="body-menu" appendTo="body" [(visible)]="displayMainMenu"
				[blockScroll]="true">
				<div class="sidebar-menu-label">
					<div class="flex align-items-center">
						<div>
							<span>Hoofdmenu</span>
						</div>
					</div>
				</div>
				<p-menu [model]="navMenuItems"></p-menu>
			</p-sidebar>
		</div>

		<div id="menu-logo">
			<img src="../../../assets/logo.png" height="40px" alt="Logo" routerLink="/">
		</div>

		<div id="main-menu-bar" class="flex-grow-1">
			<p-menubar [model]="navMenuItems"></p-menubar>
		</div>

		<div id="user-menu">
			<button type="button" pButton id="user-menu-button" class="p-button-rounded p-button-text" icon="pi pi-user"
				[label]="user.firstName" *ngIf="isSignedIn" (click)="displayUserMenu = true"></button>
			<p-sidebar #userMenuSidebar styleClass="body-menu" position="right" appendTo="body" [(visible)]="displayUserMenu"
				[blockScroll]="true">
				<div class="sidebar-menu-label">
					<div class="flex align-items-center">
						<div>
							<span>Gebruikersmenu</span>
						</div>
					</div>
				</div>
				<p-menu [model]="userMenuItems"></p-menu>
			</p-sidebar>
		</div>
	</div>
</nav>