<div class="grid">
	<div class="col-12 sm:col-8 sm:col-offset-2 md:col-6 md:col-offset-3 lg:col-4 lg:col-offset-4">
		<p-card header="Inloggen" styleClass="empty-card-footer">
			<form [formGroup]="form" (ngSubmit)="signIn()">
				<div class="field grid">
					<label for="email" class="col-4">E-mail</label>
					<div class="col-8">
						<input pInputText id="email" type="text" class="w-full" formControlName="email">
					</div>
				</div>
				<div class="field grid">
					<label for="password" class="col-4">Wachtwoord</label>
					<div class="col-8">
						<input pPassword id="password" type="password" class="w-full" [feedback]="false" formControlName="password" >
					</div>
				</div>
				<div>
					<div class="mb-2">
						<button pButton type="submit" class="w-full" label="Inloggen" [disabled]="form.invalid"></button>
					</div>
					<div>
						<a routerLink="../registreren">Geen account? Meld je aan.</a>
					</div>
				</div>
			</form>
		</p-card>
	</div>
</div>