<div class="grid" *ngIf="item.id.length > 0">
	<div class="col-12 sm:col-10 md:col-6 lg:col-4 xl:col-3">
		<p-card [header]="item.label" styleClass="no-footer">
			<div class="p-fluid">
				<div class="field grid">
					<div class="col-4">
						<span>Type</span>
					</div>
					<div class="col-8">
						<span>{{ item.type }}</span>
					</div>
				</div>
				<div class="field grid">
					<div class="col-4">
						<span>Buy-in</span>
					</div>
					<div class="col-8">
						<span>{{ item.buyIn | currency: 'EUR' }}</span>
					</div>
				</div>
				<div class="field grid">
					<div class="col-4">
						<span>Max spelers</span>
					</div>
					<div class="col-8">
						<span>{{ item.maxPlayers }}</span>
					</div>
				</div>
				<div class="field grid">
					<div class="col-4">
						<span>Datum & tijd</span>
					</div>
					<div class="col-8">
						<span>{{ item.date | date: 'dd-MM-yyyy HH:mm' }}</span>
					</div>
				</div>
				<div class="field grid">
					<div class="col-4">
						<span>Status</span>
					</div>
					<div class="col-8">
						<span>{{ item.status }}</span>
					</div>
				</div>
				<div class="grid flex-row-reverse" *ngIf="item.status === 'definite'">
					<div class="col" [ngClass]="{'pb-0': !isAdmin || (item.status === 'definite')}">
						<button pButton type="button" class="p-button-success" label="Accepteren" [disabled]="accepted"
							(click)="acceptInvitation()"></button>
					</div>
					<div class="col" [ngClass]="{'pb-0': !isAdmin || (item.status === 'definite')}">
						<button pButton type="button" class="p-button-danger" label="Afwijzen" [disabled]="!accepted"
							(click)="declineInvitation()"></button>
					</div>
				</div>
			</div>
			<div class="p-fluid" *ngIf="isAdmin && (item.status !== 'definite')">
				<div>
					<button pButton type="button" class="p-button-warning" icon="pi pi-send" label="Maak definitief"
						[loading]="item.status === 'sending'" (click)="sendInvitations()"></button>
				</div>
			</div>
		</p-card>
	</div>

	<div class="col-12 sm:col-10 md:col-6 lg:col-4 xl:col-3">
		<p-table [value]="item.players" responsiveLayout="stacked">
			<ng-template pTemplate="caption">
				<div class="text-2xl font-bold">Spelers</div>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th>Naam</th>
					<th>Alias</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-item>
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.alias}}</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>

<!-- <h1>Uitnodiging {{type}} game.</h1>
<p>Er is een nieuwe poker game gepland.</p>
<div style="width: 400px; margin-bottom: 1rem;">
	<div style="margin-bottom: 1rem;">
		<h2 style="margin: 0px;">Details</h2>
	</div>

	<div style="
	display: flex;
	flex-wrap: wrap;
	">
		<div style="
		flex: 0 0 auto;
		width: 33.3333%;
		">
			Naam:
		</div>
		<div style="
		flex-grow: 1;
		flex-basis: 0;
		">
			{{label}}
		</div>
	</div>

	<div style="
	display: flex;
	flex-wrap: wrap;
	">
		<div style="
		flex: 0 0 auto;
		width: 33.3333%;
		">
			Type:
		</div>
		<div style="
		flex-grow: 1;
		flex-basis: 0;
		">
			{{type}}
		</div>
	</div>

	<div style="
	display: flex;
	flex-wrap: wrap;
	">
		<div style="
		flex: 0 0 auto;
		width: 33.3333%;
		">
			Buy-in:
		</div>
		<div style="
		flex-grow: 1;
		flex-basis: 0;
		">
			{{buyIn}}
		</div>
	</div>

	<div style="
	display: flex;
	flex-wrap: wrap;
	">
		<div style="
		flex: 0 0 auto;
		width: 33.3333%;
		">
			Max-spelers:
		</div>
		<div style="
		flex-grow: 1;
		flex-basis: 0;
		">
			{{maxPlayers}}
		</div>
	</div>

	<div style="
	display: flex;
	flex-wrap: wrap;
	">
		<div style="
		flex: 0 0 auto;
		width: 33.3333%;
		">
			Datum & tijd:
		</div>
		<div style="
		flex-grow: 1;
		flex-basis: 0;
		">
			{{date}}
		</div>
	</div>

</div>

<div>
	<a href="https://thesmallgame.com/games/{{id}}">Ga naar Uitnodiging</a>
</div> -->