<div class="grid">
	<div class="col-12 sm:col-10 sm:col-offset-1 md:col-8 md:col-offset-2 lg:col-6 lg:col-offset-3 xl:col-4 xl:col-offset-4">
		<p-card [header]="item?.label || 'Nieuw'">
			<form class="p-fluid" [formGroup]="form" (ngSubmit)="submit()">
				<div class="field grid">
					<label for="label" class="col-12 mb-2 md:col-4 md:mb-0">Label</label>
					<div class="col-12 md:col-8">
						<input pInputText id="label" type="text" formControlName="label">
					</div>
				</div>
				<div class="field grid">
					<label for="type" class="col-12 mb-2 md:col-4 md:mb-0">Type</label>
					<div class="col-12 md:col-8">
						<p-dropdown inputId="type" [options]="gameTypes" formControlName="type"></p-dropdown>
					</div>
				</div>
				<div class="field grid">
					<label for="buyIn" class="col-12 mb-2 md:col-4 md:mb-0">Buy-in</label>
					<div class="col-12 md:col-8">
						<p-inputNumber inputId="buyIn" mode="currency" currency="EUR" locale="nl-NL" formControlName="buyIn"></p-inputNumber>
					</div>
				</div>
				<div class="field grid">
					<label for="date" class="col-12 mb-2 md:col-4 md:mb-0">Datum</label>
					<div class="col-12 md:col-8">
						<p-calendar inputId="date" [showTime]="true" [showIcon]="true" dateFormat="dd-mm-yy" [minDate]="minDate" formControlName="date"></p-calendar>
					</div>
				</div>

				<div>
					<button pButton type="submit" label="Opslaan" [disabled]="form.invalid"></button>
				</div>
			</form>
		</p-card>
	</div>
</div>